/**
 *------
 * BGA framework: (c) Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * dragonkeeper implementation : (c) Antonio Soler morgalad.es@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dragonkeeper.css
 *
 * dragonkeeper stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dragonkeeper_dragonkeeper.tpl), and to HTML elements you create dynamically
    (in dragonkeeper.js).
    
    Usually, you are using CSS to:
    
    1    (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2    All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3   It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.mode_3d.enableTransitions #game_play_area {
    /* transition: transform 0.4s linear; */
}

.mode_3d #game_play_area_wrap {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: center center;
    pointer-events: none;
    overflow: hidden;
    height: 100vh
}

.cp_board {
    display: inline-flex
}

.coin {
    width: 40px;
    height: 40px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/coin.png);
    background-size: cover;
    display:  inline-block;
}

.header0 {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px 0px;
    display:  inline-block;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style:preserve-3d
}
.header0::after {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px 0px;
    position:absolute;
    transform: translate3d(0px,0px,-5px);
}
.header0::before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px 0px;
    position:absolute;
    transform: translate3d(0px,0px,-10px);
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.37);
}


.header1 {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px -50px ;
    display:  inline-block;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style:preserve-3d
}
.header1::after {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px -50px ;
    position:absolute;
    transform: translate3d(0px,0px,-5px);
}
.header1::before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -50px -50px ;
    position:absolute;
    transform: translate3d(0px,0px,-10px);
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.37);
}


.header2 {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -0px -150px ;
    display:  inline-block;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style:preserve-3d
}
.header2::after {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -0px -150px ;
    position:absolute;
    transform: translate3d(0px,0px,-5px);
}
.header2::before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -0px -150px;
    position:absolute;
    transform: translate3d(0px,0px,-10px);
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.37);
}
.header3 {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: 200px -200px ;
    display:  inline-block;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style:preserve-3d
}
.header3::after {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: 200px -200px ;
    position:absolute;
    transform: translate3d(0px,0px,-5px);
}
.header3::before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: 200px -200px ;
    position:absolute;
    transform: translate3d(0px,0px,-10px);
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.37);
}
.header4 {
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -100px 50px;
    display:  inline-block;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style:preserve-3d;
}
.header4::after {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -100px 50px;
    position:absolute;
    transform: translate3d(0px,0px,-5px);
}
.header4::before {
    content: "";
    width: 50px;
    height: 50px;
    margin: 1px;
    background-image: url(img/tiles.jpg);
    background-size: 350px 300px;
    background-position: -100px 50px;
    position:absolute;
    transform: translate3d(0px,0px,-10px);
    box-shadow: 4px 1px 3px 4px rgba(0, 0, 0, 0.37);
}
.goldlog {
    width: 20px;
    height: 20px;
    margin: 1px;
    background-image: url(img/coin.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    color: #f9a11a;
    font-weight: bold;
}

.guildback {
    width: 50px;
    height: 50px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/guildsback.jpg);
    background-size: cover;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
}

.power2{
    width: 27px;
    height: 30px;
    margin: 1px;
    background-image: url(img/powers.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    background-position: 1px center;
}

.power3{
    width: 27px;
    height: 30px;
    margin: 1px;
    background-image: url(img/powers.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    background-position: 29px center;
}
.power4{
    width: 26px;
    height: 30px;
    margin: 1px;
    background-image: url(img/powers.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    background-position: 86px center;
}
.power5{
    width: 29px;
    height: 30px;
    margin: 1px;
    background-image: url(img/powers.png);
    background-size: cover;
    position: relative;
    display: inline-block;
    background-position: 60px center;
}

.guild1 {
    width: 50px;
    height: 50px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/guilds.jpg);
    background-size: cover;
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius:  4px;
}

.guild2 {
    width: 50px;
    height: 50px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/guilds.jpg);
    background-size: cover;
    background-position: -50px center;
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius:  4px;
}

.guild3 {
    width: 50px;
    height: 50px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/guilds.jpg);
    background-size: cover;
    background-position: -100px center;
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius:  4px;
}

.guild4 {
    width: 50px;
    height: 50px;
    margin: 1px;
    margin-left: 25px;
    background-image: url(img/guilds.jpg);
    background-size: cover;
    background-position: -150px center;
    position: relative;
    display: inline-block;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    border-radius:  4px;
}

#playArea {
    margin: 15px;
    height: 1300px;
    width: 97%;
    display: block;
    /* background-repeat: no-repeat; */
    background-image: url('img/background.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
}

@media screen and (max-width: 1900px) and (min-width: 1025px) {
    #playareascaler {
        transform:scale3d(0.7,0.7,0.7);
        transform-origin: top left
    }

    #playArea {
        width: 1500px
    }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
    #playareascaler {
        transform:scale3d(0.54,0.54,0.54);
        transform-origin: top left
    }

    #playArea {
        width: 1500px
    }
}

@media screen and (max-width: 799px) and (min-width: 1px) {
    #playareascaler {
        transform:scale3d(0.5,0.5,0.5);
        transform-origin: top left
    }

    #playArea {
        width: 1500px
    }
}

#tables {
        height: 650px;
        width: 850px;
        pointer-events: visible;
        position: absolute;
        transform: translate3d(420px,20px,0px);
}

#helpower {
        height: 600px;
        width: 300px;
        position: absolute;
        background-size: 100% 100%;
        background-image: url('img/playerboard.jpg');
        background-repeat:  no-repeat;
        border-radius: 10px;
        box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
        transform: translate3d(40px,60px,10px);
}

#helpowerinner {
        height: 550px;
        width: 260px;
        position: absolute;
        background-size: 100% 100%;
        background: #666669;
        background-repeat:  no-repeat;
        border-radius: 10px;
        box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
        transform: translate3d(20px,33px,10px);
        font-family: "Roboto", Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    color: #f0f2f1;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
    padding:5px
}


#sky {
        height: 100px;
        width: 100px;
        pointer-events: none;
        position: absolute;
        transform: translate3d(800px,760px,700px);
        /* box-shadow: 0 0 2px 2px rgb(243, 0, 0); */
}

#nowhere {
        height: 200px;
        width: 200px;
        pointer-events: none;
        position: absolute;
        transform: translate3d(-1000px,433px,1000px);
        /* box-shadow: 0 0 8px 9px rgb(243, 0, 0); */
}


#table1 {
    height: 640px;
    width: 640px;
    background-size: 100% 100%;
    left: 0; 
    right: 0;
    top:0;
    bottom:0;
    transform:translate3D(0px, 0px, 10px);
    background-repeat: no-repeat;
    pointer-events: visible;
    position: absolute;
    background-image: url('img/table1.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
}

.tableinner{
    width:100%;
    height:100%;
    position: absolute;
}

.tableinner span{
    left: 14px;
    top: 1.5px;
    position: absolute;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    color: #f0f2f1;
    /* text-shadow: 1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff; */
}

.counter0{
    left: 400px;
    top: 156px;
    position: absolute;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    color: #f0f2f1;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}

.counter1{
    left: 140px;
    top: 156px;
    position: absolute;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    color: #f0f2f1;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}

.counter2{
  left: 530px;
    top: 156px;
   position: absolute;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    color: #f0f2f1;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}

.counter3{
  left: 271px;
  top: 156px;
  position: absolute;
  position: absolute;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 19px;
  font-weight: bold;
  display: inline-block;
  color: #f0f2f1;
  text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}
.counter4{
  left: 660px;
    top: 156px;
    position: absolute;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    color: #f0f2f1;
    text-shadow: 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, -1px 0 1px #000;
}

.side1{
    height:90px;
    width:100%;
    top:0px;
    transform-origin:bottom ;
    transform: translate3D(-0% , -100%, 0px) rotateZ(180deg) rotateX(-90deg);
    background-image: url('img/sides-in.jpg');
    position: absolute;

}
.side2{
    bottom:0px;
    width:100%;
    height:90px;
    transform-origin:bottom ;
    transform:translateZ(0px) rotateX(-90deg);
    background-image: url('img/sides-in.jpg');
    position: absolute;
}

.side3{
    top:50%;
    width:100%;
    height:90px;
    transform-origin: bottom center;
    transform: translate3D(-50% , -100%, 0px) rotateZ(90deg) rotateX(-90deg);
    left: 0px;
    background-image: url('img/sides-in.jpg');
    position: absolute;
}

.side4{
    top:50%;
    width:100%;
    height:90px;
    transform-origin: bottom center;
    transform: translate3D(50% , -100%, 0px) rotateZ(-90deg) rotateX(-90deg);
    right: 0px;
    background-image: url('img/sides-in.jpg');
    position: absolute;
}

#table3 div .side1::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px)
}

#table3 div .side2::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px)
}

#table3 div .side3::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -100%;
    transform: translateZ(3px);
}

#table3 div .side4::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -100%;
    transform: translateZ(3px)
}

#table2 {
    height: 630px;
    width: 630px;
    background-size: 100% 100%;
    transform: translate3D(5px, 5px, 100px);
    background-repeat: no-repeat;
    pointer-events: visible;
    position: absolute;
    background-image: url('img/table2.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
    /* display: none; */
}

#table2 div .side1, #table2 div .side2, #table2 div .side3, #table2 div .side4{
    background-position: center -100%;
}

#table1 div .side1,  #table1 div .side3, #table1 div .side4{
    background-position: center -200%;
}

#table1 div .side2{
    background-position: center -300%;
}

#table3 {
    height: 620px;
    width: 620px;
    background-size: 100% 100%;
    transform: translate3D(10px, 10px, 190px);
    background-repeat: no-repeat;
    pointer-events: visible;
    position: absolute;
    background-image: url('img/table3.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
    /* display: none; */
}

#table2 div .side1::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px);
    background-position: 0px -200%;
}

#table2 div .side2::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px);
    background-position: center -200%;
}

#table2 div .side3::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -300%;
    transform: translateZ(3px)
}

#table2 div .side4::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -300%;
    transform: translateZ(3px)
}

#table1 div .side1::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px);
    background-position: center -400%;
}

#table1 div .side2::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    transform: translateZ(3px);
    background-position: center -400%;
}

#table1 div .side3::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -500%;
    transform: translateZ(3px)
}

#table1 div .side4::after {
    content: "";
    width: 101%;
    height: 90px;
    position: absolute;
    background-image: url(img/sides-out.jpg);
    background-position: center -500%;
    transform: translateZ(3px)
}

#tableinner3 .field{
    width:100px;
    height:100px;
    position: absolute;
}

#tableinner2 .field{
    width:100px;
    height:100px;
    position: absolute;
}
#tableinner1 .field{
	width:100px;
    height:100px;
    position: absolute;
}

.field div:nth-child(1) {
 transform: translate3D(0px, 0px, 5px) ;
}

.field:hover .card:nth-child(1) {
 transform: translate3D(0px, 0px, 105px) scale3d(1.5,1.5,1.5) ;
}

.field div:nth-child(2) {
 transform: translate3D(0px, 0px, 10px) ;
}

#game_play_area div
{
    transform-style: preserve-3d
}

.stairs {
    width: 50px;
    height: 50px;
    background-image: url('img/tiles.jpg');
    background-size: 700% 600%;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    display:inline-block;
    border-radius: 4px;
}

.card {
    width: 100px;
    height: 100px;
    background-image: url('img/tiles.jpg');
    border-radius: 2px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.22);
    z-index:100;
    position:absolute;
    transition: all 1000ms ease-in-out;
    border-radius: 4px;
}

.card::after {
    content: "";
    background: #4f4232;
    box-shadow: 6px 6px 3px 1px rgba(0, 0, 0, 0.72), 0px 0px 0px 0px #faf5ef;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    transform: translatez(-4px);
    position:absolute;
	z-index:-1
}

#drake {
    width: 100px;
    height: 100px;
    position:absolute;
}

#drakefoot {
    width: 91px;
    height: 90px;
    background-image: url('img/dragonfoot.png');
    border-radius: 50%;
    box-shadow: inset 0px 0 3px 9px rgba(29, 29, 29, 0.28);
    transform: translate3D(10px, 10px, 10px) rotateZ(120deg);
    position:absolute;
    transition: all 2000ms ease-in-out;
}

#drakebody {
    width: 100px;
    height: 120px;
    transform-origin: center center;
    background-image: url('img/dragonbody.png');
    transform: translate3D(-8px, -6px, 56px)  rotateX(-85deg);
    position:absolute;
}

#drakebody::after {
    content:"";
    width: 100px;
    height: 120px;
    background-image: url('img/dragonbody.png');
    transform: translateZ(-8px) translateY(-3px) rotateX(-10deg);
    position:absolute;
}

#drakewings {
    width: 140px;
    height: 60px;
    background-image: url('img/wings.png');
    transform: translate3D(-23px, 19px, 71px) rotateZ(90deg) rotateX(-45deg);
    position:absolute;
}

#drakewings::after {
    content:"";
    width: 140px;
    height: 60px;
    background-image: url('img/wings.png');
    transform: translateZ(-3px);
    position:absolute;
}

.borderpulse {
    cursor: pointer;
    animation: borderpulse 2s ease infinite;
    -webkit-animation: borderpulse 2s ease infinite !important;
    -moz-animation: borderpulse 2s ease infinite !important;
    -o-animation: borderpulse 2s ease infinite !important;
    animation: borderpulse 2s ease infinite !important;
    /*z-index: 200 !important*/
}

@keyframes borderpulse {
    0% {
        box-shadow: 0 0 5px 7px #05fff9;
    }

    100% {
        box-shadow: 0 0 0 3px #3abcf7;
    }
}

@-webkit-keyframes borderpulse {
    0% {
        box-shadow: 0 0 5px 7px #05fff9;
    }

    100% {
        box-shadow: 0 0 0 3px #3abcf7;
    }
}

@-moz-keyframes borderpulse {
    0% {
        box-shadow: 0 0 5px 7px #05fff9;
    }

    100% {
        box-shadow: 0 0 0 3px #3abcf7;
    }
}

@-o-keyframes borderpulse {
    0% {
        box-shadow: 0 0 5px 7px #05fff9
    }

    100% {
        box-shadow: 0 0 0 3px #3abcf7
    }
}

.redborder {
    border: 2px red solid !important
}


/*@media screen and (min-width: 1920px) {
    #playareascaler {
        transform:scale(0.9,0.9);
        transform-origin: center;
        width: 1720px;
        margin: 0 auto
    }
}

@media screen and (max-width: 1913px) and (min-width: 1025px) {
    #playareascaler {
        transform:scale(0.7,0.7);
        transform-origin: top left;
        width: 820px;
        margin: auto
    }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
    #playareascaler {
        transform:scale(0.7,0.7);
        transform-origin: top left;
        width: 820px;
        margin: auto
    }
}

@media screen and (max-width: 799px) and (min-width: 1px) {
    #playareascaler {
        transform:scale(0.5,0.5);
        transform-origin: top left
    }
}
*/
.playerboard {
    height: 290px;
    width: 690px;
    pointer-events: visible;
    position: absolute;
    background-image: url('img/playerboard.jpg');
    border-radius: 10px;
    box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.65);
}

.player1 {
    transform: translate3d(30px,700px,0px);
}

.player2 {
    transform: translate3d(800px,700px,0px);
}

.player3 {
    transform: translate3d(30px,1000px,0px);
}

.player4 {
    transform: translate3d(800px,1000px,0px);
}

.boardHeader{
    background-color: #beb7b1;
    width: fit-content;
    border-radius: 3px;
    margin-left: 15px;
    position:  absolute;
}

.store1 {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate3d(40px,55px,0px);
}

.store3 {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate3d(168px,55px,0px);
}

.store0 {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate3d(302px,55px,0px);
}

.store2 {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate3d(432px,55px,0px);
}

.store4 {
    height: 100px;
    width: 100px;
    position: absolute;
    transform: translate3d(565px,55px,0px);
}

.flamesdiv {
    height: 100px;
    width: 200px;
    position: absolute;
    transform: translate3d(38px,187px,0px);
    /* box-shadow: 0 0 2px 2px rgb(243, 0, 0); */
}

.cardstore{
/* box-shadow: 0 0 2px 2px rgb(243, 0, 0); */
}

.cardstore div:nth-child(1) {
 transform: translate3D(0px, 0px, 10px) ;
}
.cardstore div:nth-child(2) {
 transform: translate3D(0px, 0px, 20px) ;
}
.cardstore div:nth-child(3) {
 transform: translate3D(0px, 0px, 30px) ;
}
.cardstore div:nth-child(4) {
 transform: translate3D(0px, 0px, 40px) ;
}
.cardstore div:nth-child(5) {
 transform: translate3D(0px, 0px, 50px) ;
}
.cardstore div:nth-child(6) {
 transform: translate3D(0px, 0px, 60px) ;
}
.cardstore div:nth-child(7) {
 transform: translate3D(0px, 0px, 70px) ;
}
.cardstore div:nth-child(8) {
 transform: translate3D(0px, 0px, 80px) ;
}
.cardstore div:nth-child(9) {
 transform: translate3D(0px, 0px, 90px) ;
}
.cardstore div:nth-child(10) {
 transform: translate3D(0px, 0px, 100px) ;
}
.cardstore div:nth-child(11) {
 transform: translate3D(0px, 0px, 110px) ;
}
.cardstore div:nth-child(12) {
 transform: translate3D(0px, 0px, 120px) ;
}
.cardstore div:nth-child(13) {
 transform: translate3D(0px, 0px, 1300px) ;
}
.cardstore div:nth-child(14) {
 transform: translate3D(0px, 0px, 140px) ;
}
.cardstore div:nth-child(15) {
 transform: translate3D(0px, 0px, 150px) ;
}
.activeplayer .cardstore:hover div:nth-child(1) {
 transform: translate3D(-100px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(2) {
 transform: translate3D(-60px, 120px, 20px) rotateY(15deg);
}
.activeplayer .cardstore:hover div:nth-child(3) {
 transform: translate3D(-20px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(4) {
 transform: translate3D(20px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(5) {
 transform: translate3D(60px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(6) {
 transform: translate3D(100px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(7) {
 transform: translate3D(140px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(8) {
 transform: translate3D(180px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(9) {
 transform: translate3D(220px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(10) {
 transform: translate3D(260px, 120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(11) {
 transform: translate3D(300px,120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(12) {
 transform: translate3D(340px,120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(13) {
 transform: translate3D(380px,120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(14) {
 transform: translate3D(420px,120px, 20px) rotateY(15deg)   ;
}
.activeplayer .cardstore:hover div:nth-child(15) {
 transform: translate3D(460px,120px, 20px) rotateY(15deg)   ;
}

.goldcounter {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 18px;
    font-weight:  bold;
    /* display: inline-block; */
    text-shadow: 1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff;
}

.goldcounter span{
    margin-left: 15px;
    margin-top: 14px;
    /* position:absolute; */
    display:  inline-block;
}
.table1 {
    width: 1024px;
    height: 738px;
    background-image: url('img/table1.jpg');
    position: absolute;
    box-shadow: 4px 4px 3px 2px rgba(5, 5, 5, 0.68);
    background-color: white;
    border-radius: 5px;
    transform-style: preserve-3d
}

.traveller {
    -webkit-animation: travelanim 1.5s ease 1;
    -moz-animation: travelanim 1.5s ease 1;
    -o-animation: travelanim 1.5s ease 1;
    animation: travelanim 1.5s ease 1
}

@keyframes "travelanim" {
    50% {
        transform: translateZ(250px);
    }
}

@-webkit-keyframes "travelanim" {
    50% {
        transform: translateZ(250px);
    }
}

@-moz-keyframes "travelanim" {
    50% {
        transform: translateZ(250px);
    }
}

@-o-keyframes travelanim {
    50% {
        transform: translateZ(250px)
    }
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/
